* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;

}

body {
  background-image: url("./assets/stadium.jpg");
  /* The image used as a background. */
  background-repeat: no-repeat;
  /* The background image will not repeat. */
  background-attachment: fixed;
  /* The background image will not scroll with the page. */
  background-size: cover;
  /* The background image will cover the entire area of the element. */
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 1em;
  justify-content: space-evenly;
  background-color: #275db3;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 10px 100px 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 50px;
  width: 90%;
  font-size: larger;
}


#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allPlayers {
  color: rgb(50, 50, 53);
  width: 300px;
  margin: 10px;
  background-color: #ffffff73;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s;
  border-radius: 10px;
}

.singlePlayer {
  color: rgb(50, 50, 53);

  border-radius: 10px;
}

.form {
  color: rgb(50, 50, 53);

  border-radius: 10px;
}

.home {
  color: rgb(50, 50, 53);

  border-radius: 10px;
}
#homeText {
  font-size: larger;
}

a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

img {
  width: 100px;
  border-radius: 10px;
  height: auto;
  margin: 10px;

}


img:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.playerInfo {
  display: flex;
  gap : 20px;
  flex-direction: row;
}

#breed {
padding: 10px;
color: rgb(155, 84, 155);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: blueviolet;
  font-size: xx-large;
}

#status{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blueviolet;
 
}

button {
  margin: 10px;
}