* {
  font-family: lato;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;

}

body {
  background-image: url("./assets/stadium.jpg");
  /* The image used as a background. */
  background-repeat: no-repeat;
  /* The background image will not repeat. */
  background-attachment: fixed;
  /* The background image will not scroll with the page. */
  background-size: cover;
  /* The background image will cover the entire area of the element. */
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 1em;
  justify-content: space-evenly;
  background-color: #275db3;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 10px 100px 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 50px;
  width: 90%;
  font-size: larger;
}


#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allPlayers {
  color: rgb(50, 50, 53);
  width: 300px;
  margin: 10px;
  background-color: #ffffff73;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s;
  border-radius: 10px;
}



.title {
  color: blueviolet;
  width: 300px;
  margin: 10px;
  background-color: #ffffff73;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position:relative;
  transition: transform 0.3s;
  border-radius: 10px;
  text-align: center;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

img {
  width: 100px;
  border-radius: 10px;
  height: auto;
  margin: 10px;

}

p {
  margin: 100px;
}

img:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.playerInfo {
  display: flex;
  gap : 20px;
  flex-direction: row;
}

#breed {
padding: 10px;
color: rgb(155, 84, 155);
}

#name{
  font-weight: bold;
  color: blueviolet;
  font-size: xx-large;
}

#status{
  color: blueviolet;
 
}

button {
  margin: 10px;
  padding: 10px;
  font-size: larger;
  color: #275db3;
}

#title {
  color: blueviolet;
}

#homeImg {
  width: 400px;
}

h1 {
margin: 100px;
color: blueviolet;
}

@font-face {
  font-family: lato;
  src: url(./assets/Lato-Regular.ttf);
}

.form {
  display: flex;
}

input {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

#input-field {
  color: blueviolet;
  margin: 0 auto;
}

#field {
  color: blueviolet;
  width: 300px;
  margin: 10px;
  background-color: #ffffff73;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position:relative;
  transition: transform 0.3s;
  border-radius: 10px;
  text-align: center;
}

#checkbox {
  margin: 0 auto;
}