* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 1em;
  justify-content: space-evenly;
  background-color: #275db3;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 10px 100px 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 50px;
  width: 90%;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allPlayers {
  color: rgb(50, 50, 53);
  background-color: white;
  border-radius: 10px;
}

.singlePlayer {
  color: rgb(50, 50, 53);
  background-color: white;
  border-radius: 10px;
}

.form {
  color: rgb(50, 50, 53);
  background-color: white;
  border-radius: 10px;
}

.home {
  color: rgb(50, 50, 53);
  background-color: white;
  border-radius: 10px;
}
#homeText {
  font-size: larger;
}

a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}